@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* font-family: 'IM Fell English SC', serif; */

/* font-family: 'Noto Sans TC', sans-serif; */

/* font-family: 'Noto Serif', serif; */

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    /* background-color:black; */
}

html{
    font-size: 62.5%;
}

html, body, #__next {
  height: 100%;
  margin: 0;
}

#__next{
  display: flex; /*使物件依序排列*/
  flex-direction: column; /*使物件垂直排列*/
}
main{
  flex-grow: 1;
}