*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    /* background-color:black; */
}

html{
    font-size: 62.5%;
}

html, body, #__next {
  height: 100%;
  margin: 0;
}

#__next{
  display: flex; /*使物件依序排列*/
  flex-direction: column; /*使物件垂直排列*/
}
main{
  flex-grow: 1;
}