.maincontent {
  height: 100%;
  text-align: center;
  h2 {
    font-size: 4rem;
    margin: 3rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;


    &::after,
    &::before {
      content: "";
      display: block;
      width: 8rem;
      height: 0.5rem;
      background: #000;
      position: absolute;
      margin: auto;
    //   top:2.5rem;
    }
    &::after {
        margin-right: 30rem;
      
    }
    &::before {
      margin-left: 30rem;
    }


  }
}
