.maintitle {
  height: 640px;



  background: linear-gradient(135deg, rgb(223, 188, 73) 50%, rgba(150, 26, 26, 0) 50%) center
      center / 100% 100%,
    url("/images/meow.png") right center / auto 100%;


    .titletext{
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 3rem;
      padding-left: 10%;


    }

  h2 {
    font-size: 4rem;
    color: white;

    &:after{
      content: '' ;
      display: block;
      width: 30rem;      
      border-bottom: .5rem solid #ccc;
    }
  }
  a {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;

    
    font-size: 2.5rem;
    font-weight: 600;
    height: 5rem;
    width: 5rem;
    color: #000000;
    border-radius: 50%;
    transition: .2s ease-in-out;
    &:hover{
      background-color: #00595f;
      color: #ffffff;
      margin-top: 1rem;
    }

    i{
      margin-top: 1rem;
    }

  }
}

.background {
  height: 100%;
  width: 60%;
  margin: auto;
  font-family: 'Noto Sans TC', sans-serif; 
  h3 {
    font-size: 3.5rem;
    margin: 3rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &::after,
    &::before {
      content: "";
      display: block;
      width: 8rem;
      height: 0.5rem;
      background: #000;
      position: absolute;
      margin: auto;
      //   top:2.5rem;
    }
    &::after {
      margin-right: 30rem;
    }
    &::before {
      margin-left: 30rem;
    }
  }
  p{
    font-size: 2rem;
    text-indent: 4rem ;
    &::first-letter{
      font-weight: 600;
      font-size: 3rem;

    }

  }



}


.wrap11 {
  margin: auto;
  width: 960px;
  font-family: 'Noto Serif', serif;
  // background-color: #000;

  .container11 {
    padding: 30px;
    position: relative;
    text-align: center;


    h1 {
      width: 100%;
      flex-shrink: 0;
      box-sizing: border-box;
      font-size: 40px;
      padding-left: 15px;
      color: #000;
      display: flex;
      // border-top: 1px solid #a00;
      // border-bottom: 1px solid #a00;
      margin-bottom: .5em;
 
      &::before,
      &::after {
        content: "";
        display: block;
        height: 5px;
        flex-grow: 1;
        background-color: #969696;
        margin: auto;
      }

      &::after{
        margin-left: 1em;
      }

      &::before{
        margin-right: 1em;
      }
    }
    

    .txt11 {
      flex-shrink: 0;
      color: #7c7c7c;

      p {
        margin-bottom: 1em;
        font-size: 2rem;
      }
    }
  }
}

  
.wrap_break{
  width: 80%;
  margin: auto;
  // height: 100vh;
  // margin:auto;
  // overflow:hidden;
  font-family: "Noto Sanas TC", san-serif;
  font-size: 1.5vw;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background: #ffffff;
  justify-content: center;

  // 補回凸排的地方，避免版面出問題
  padding-top: 75px ;
  // background-image: linear-gradient(-45deg, #fffaf0,#f8c3c1);


.item{
  width: 25%;
  text-align: center;
  margin: 0 15px;
  border:10px solid #f5cccb ;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 10px 20px 50px #e0bbb2;


  .icon{
      color: #f8c3c1;
      width: 150px;
      height: 150px;
      background-color: rgb(255, 255, 255);
      border-radius: 50%;
      // 破格的使用
      margin: -75px auto 0;
      // text-align: center;
      // align-items: center;
      font-size: 85px;
      // 用來作為垂直居中
      line-height: 150px;

      // 用來定位 : before
      position: relative;


  }

  .icon::before{
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      border-top: 10px solid #f9cec2;
      border-left: 10px solid #f9cec2;
      border-right: 10px solid transparent;
      border-bottom: 10px solid transparent;
      left:-10px;
      top: -10px;
      border-radius: 50%;
      transform: rotate(45deg);


  }

  .txt{
      padding:20px;

      h2{
          color: #f5afac;
      }
  
      p{
          color: #ccc;
      }

  }


}


.item:hover i{
  animation: shake .2s linear infinite alternate;
}

@keyframes shake{
  0%{ transform: rotate(-10deg);}
  100%{ transform: rotate(10deg);}
}

}