


.mainFooter{
    padding: 2rem 0 0 0;
    bottom: 0;
    background: linear-gradient(-20deg, #3f5494,#08c7a5);
}

.container{
    font-family:'Noto Sans TC', sans-serif;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: auto;

}


//  有消瀏覽器還不支持 has 選擇器
.footerItem{
    width: 0;
    flex-grow: 1;
    margin: 2rem 20px;
    ul{
        display: flex;
        flex-wrap: wrap;
        li{
            margin: 1rem;
            a{
                text-decoration: none;
                font-size: 2rem;
                color: #fff;
                border-bottom: 1px solid #fff;
            }
        }
        // li + li::before{
        //      content: "\002F";
        //      color: white;
        //      font-size: 2rem;
        //      margin-right: 2rem;
        // }
    }
   
    h4{
        font-size: 2rem;
        color: #fff;
        border-bottom: 1px solid #fff;
        margin-bottom: .5rem;
        padding-bottom: .5rem;
    }

    p{
        font-size: 1.8rem;
        a{
            color: #aaa;
        }
    }

    p ~ a {
        text-decoration: none;
        color: inherit;
        i{
            font-size: 4rem;
            margin: 1rem;
            color: #FFF;
            padding: 0 .2rem;
        }
    }
    
    p ~  a:focus{
        outline: none;
        box-shadow: none;
    }
    p ~  a:hover i,p ~  a:focus i{
        border: .4rem solid black;
        border-radius: 5px;
    }

}


.copyright{
    text-align: center;
    margin:0 0 0 0;
    padding:10px 0px;
    background-color: #3e5293;
    color: #70f6df;
    width: 100%;
    font-size: 1.6rem;
}


