.container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  background-image: linear-gradient(30deg, #88afcb 40%, #8ac4bc 60%);
  font-family: "Noto Sans TC", sans-serif;
  padding: 1rem;
  h1{
    font-size: 3.5rem;
  }

  .logo {
    width: 18rem;
    margin: 0 0 0 1rem;
    text-align: center;

    // flex-wrap: wrap;

    text-decoration: none;
    font-weight: bold;
    color: black;
    // background-color: black;

    img {
      width: 5rem;

      height: auto;
      min-width: 4rem;
      vertical-align: middle;
      margin-right: 2rem;
    }
  }

  .mainNav {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    // background-color: red;
    align-items: center;
    justify-content: space-around;



    a{
      margin-right: 2rem;
      padding: .3rem;
      text-decoration: none;
      color: black;
      position: relative;
      transform: translateY(0);
      transition: 0.3s ease-in-out;
    }

    a:after {
      content: "";
      position: absolute;
      border-bottom: 1px solid black;
      //定位並拉開
      right: 100%;
      left: 0;
      bottom: 0;
      // height: 3px;
      // width: 3px;
      // background-color: black;
      transition: 0.2s ease-in-out;
    }

    a:hover {
      transform: translateY(-8px);

      &:after {
        right: 0;
        left: 0;
      }
    }

    .headerSearch {
      // display: block;
      padding: 0.5rem;

  
      button,
      input {
        border: none;
        background-color: #fff;
        padding: 5px 10px;
        &:focus {
          outline: none;
        }
      }
  
      button {
        border-radius: 0 200px 200px 0;
      }
  
      input {
        border-radius: 200px 0 0 200px;
      }
    }
  }



  .rwdCheck{
    appearance: none;
    display: none;
    margin-right: 2rem;

  }


  .rwdCheck::before{
    content: "";
    font-family: "Font Awesome 5 Free";
    display: block;
    width: 3rem;
    height: 3rem;
    background-image: url('/arrow-down-short-wide-solid.svg');
  }

  // .dropdownController{
  //   display: none;
  // }

}

@media (max-width: 848px) {
  .container {
    padding: 1rem 0 1rem 1rem;
    .mainNav {
      width: 65%;
    }
  }

}

@media (max-width: 615px){
  .container {
    padding: 1rem 0 1rem 1rem;

    .dropdownController{
      display: flex;
      margin: .5rem;

    }

    .mainNav {
      display: none;
      overflow: hidden;
      a:hover {
        transform: translateY(-0px) translateX(8px);
    }

  }

    .rwdCheck{
      display: block;
    }
    .rwdCheck:checked{
      transform: scaleY(-1);
    }

    
    .rwdCheck:checked ~ .mainNav {
      // display: flex;
      // flex-direction: column;
      display: block;
      text-align: center;
      position: absolute;
      background-image: linear-gradient(0deg, #cff5f0 0%, #caddda 100%);
      top: 7rem;
      left: 0;
      width: 100%;
      // min-height: 20rem;
      animation: height .4s linear forwards ;
      padding: 0 2.5rem;
      

      .subNav{
        display: flex;
        flex-direction: column;
      }

    }

    &:focus-within  .dropdownController{
      border: .2rem dashed black;
      color: #fff;
    }

  }
}

@keyframes height {
  0%{
      padding: 0;
      height: 0;
  }
  100%{
      padding: 2.5rem 0;
      height: 23rem;
  }
}

